:root {
    --special_red   : #DE3163;
    --special_blue  : #6495ED;
    --special_green : #DFFF00;
    --special_orange: #FF7F50;
    --special_gree  : #9FE2BF;
    --special_gr    : #40E0D0;
    --special_purple: #CCCCFF;
    --special_yellow: #FFBF00;
    --light_black   : rgb(0, 0, 0, 0.2);
}

.gradient-container {

    * {
        font-family: cursive;
    }

    div.Container {
        width       : 50%;
        height      : 360px;
        margin-left : auto;
        margin-right: auto;
        margin-top  : 200px;
        border      : 1px solid rgb(0, 0, 0, 0.2);
    }

    .board {
        width             : 120px;
        height            : 130px;
        float             : left;
        margin-left       : 50px;
        margin-top        : 30px;
        border            : 1px solid var(--light_black);
        -webkit-transition: all 1s ease;
        transition        : all 0.5 ease;
        position          : relative;
        left              : 2%;
        overflow          : hidden;
    }

    .colorpicker {
        background-color: black;
        width           : 100%;
        height          : 80px;
    }

    .content {
        padding    : 10px 15px;
        font-size  : 70%;
        border-top : 1px solid var(--light_black);
        font-weight: bold;
    }

    // .board:hover {
    //     width: 150px;
    //     left : 0;
    // }

    .cube {
        width                    : 30px;
        height                   : 30px;
        position                 : absolute;
        background-color         : #DE3163;
        animation-name           : ani;
        animation-duration       : 5s;
        animation-iteration-count: infinite;
        transition               : all 0.5 ease;
    }

    #color1 {
        background-color: var(--special_green);
    }

    #color2 {
        background-color: var(--special_blue);
    }

    #color3 {
        background-color: var(--special_orange);
    }

    #color4 {
        background-color: var(--special_red);
    }

    #color5 {
        background-color: var(--special_gree);
    }

    #color6 {
        background-color: var(--special_gr);
    }

    #color7 {
        background-color: var(--special_purple);
    }

    #color8 {
        background-color: var(--special_yellow);
    }

    @keyframes ani {
        0% {
            left            : 20%;
            top             : 15%;
            transform       : rotate(0deg);
            background-color: var(--special_green);
        }

        25% {
            left            : 80%;
            top             : 15%;
            transform       : rotate(360deg);
            background-color: var(--special_red);
        }

        50% {
            top : 70%;
            left: 80%;
            ;
            transform       : rotate(0deg);
            background-color: var(--special_yellow);
        }

        75% {
            left: 20%;
            top : 70%;
            ;
            transform       : rotate(360deg);
            background-color: var(--special_gree);
        }

        100% {
            top : 15%;
            left: 20%;
            ;
            transform       : rotate(0deg);
            background-color: var(--special_green);
        }
    }

    @media screen and (max-width: 800px) {
        div.Container {
            height: 1300px;
        }
    }
}

.carousel-container {
    margin-top   : 500px;
    margin-bottom: 100px;

    .image-container {
        height: 500px;

        .img-carousel {

            background-size      : cover;
            background-repeat    : no-repeat;
            background-position-x: center;
            height               : 100%;
        }

        .img-1 {
            background-image: url('https://i.pinimg.com/originals/d1/1a/42/d11a4231a6fd0b25c0b4b2d4634701e2.gif');
        }

        .img-2 {
            background-image: url("https://i.pinimg.com/originals/2f/10/ce/2f10ce69b96c0611989308b0abc68e70.gif");
        }

        .img-3 {
            background-image: url("https://i.pinimg.com/originals/1c/3e/6c/1c3e6cf5100fc66db16880281354fcdf.gif");
        }
    }
}

.text-animation-1 {
    @import url('https://fonts.googleapis.com/css?family=Roboto:700');

    body {
        margin     : 0px;
        font-family: 'Roboto';
        text-align : center;
    }

    #container {
        color         : #999;
        text-transform: uppercase;
        font-size     : 36px;
        font-weight   : bold;
        position      : relative;
        width         : 100%;
        bottom        : 45%;
        display       : block;
        margin-left   : 45%;
        margin-top    : 200px;
        margin-bottom : 300px;
    }

    #flip {
        height  : 50px;
        overflow: hidden;
    }

    #flip>div>div {
        color        : #fff;
        padding      : 4px 12px;
        height       : 45px;
        margin-bottom: 45px;
        display      : inline-block;
    }

    #flip div:first-child {
        animation: show 5s linear infinite;
    }

    #flip div div {
        background: #42c58a;
    }

    #flip div:first-child div {
        background: #4ec7f3;
    }

    #flip div:last-child div {
        background: #DC143C;
    }

    @keyframes show {
        0% {
            margin-top: -270px;
        }

        5% {
            margin-top: -180px;
        }

        33% {
            margin-top: -180px;
        }

        38% {
            margin-top: -90px;
        }

        66% {
            margin-top: -90px;
        }

        71% {
            margin-top: 0px;
        }

        99.99% {
            margin-top: 0px;
        }

        100% {
            margin-top: -270px;
        }
    }

    p {
        position  : fixed;
        width     : 100%;
        bottom    : 30px;
        font-size : 12px;
        color     : #999;
        margin-top: 200px;
    }

}

.text-animation-2 {
    margin-top        : 500px;
    @import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

    * {
        margin : 0;
        padding: 0;
    }

    body,
    html {
        overflow: hidden;
    }

    .container-1 {
        width     : 100%;
        height    : 120vh;
        background: #232323;

        display        : flex;
        justify-content: center;
        align-items    : center;

        .box {
            width          : 250px;
            height         : 250px;
            position       : relative;
            display        : flex;
            justify-content: center;
            flex-direction : column;

            .title {
                width      : 100%;
                position   : relative;
                display    : flex;
                align-items: center;
                height     : 50px;

                .block {
                    width     : 0%;
                    height    : inherit;
                    background: #ffb510;
                    position  : absolute;
                    animation : mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
                    display   : flex;
                }

                h1 {
                    font-family      : 'Poppins';
                    color            : #fff;
                    font-size        : 32px;
                    -webkit-animation: mainFadeIn 2s forwards;
                    -o-animation     : mainFadeIn 2s forwards;
                    animation        : mainFadeIn 2s forwards;
                    animation-delay  : 1.6s;
                    opacity          : 0;
                    display          : flex;
                    align-items      : baseline;
                    position         : relative;

                    span {
                        width                : 0px;
                        height               : 0px;
                        -webkit-border-radius: 50%;
                        -moz-border-radius   : 50%;
                        border-radius        : 50%;

                        background       : #ffb510;
                        -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
                        animation        : popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
                        animation-delay  : 2s;
                        margin-left      : 5px;
                        margin-top       : -10px;
                        position         : absolute;
                        bottom           : 13px;
                        right            : -12px;

                    }
                }
            }

            .role {
                width      : 100%;
                position   : relative;
                display    : flex;
                align-items: center;
                height     : 30px;
                margin-top : -10px;

                .block {
                    width          : 0%;
                    height         : inherit;
                    background     : #e91e63;
                    position       : absolute;
                    animation      : secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
                    animation-delay: 2s;
                    display        : flex;
                }

                p {
                    animation      : secFadeIn 2s forwards;
                    animation-delay: 3.2s;
                    opacity        : 0;
                    font-weight    : 400;
                    font-family    : 'Lato';
                    color          : #ffffff;
                    font-size      : 12px;
                    text-transform : uppercase;
                    letter-spacing : 5px;
                }
            }
        }
    }





    @keyframes mainBlock {
        0% {
            width: 0%;
            left : 0;

        }

        50% {
            width: 100%;
            left : 0;

        }

        100% {
            width: 0;
            left : 100%;
        }
    }

    @keyframes secBlock {
        0% {
            width: 0%;
            left : 0;

        }

        50% {
            width: 100%;
            left : 0;

        }

        100% {
            width: 0;
            left : 100%;
        }
    }

    @keyframes mainFadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }


    @keyframes popIn {
        0% {
            width     : 0px;
            height    : 0px;
            background: #e9d856;
            border    : 0px solid #ddd;
            opacity   : 0;
        }

        50% {
            width     : 10px;
            height    : 10px;
            background: #e9d856;
            opacity   : 1;
            bottom    : 45px;
        }

        65% {
            width : 7px;
            height: 7px;
            bottom: 0px;
            width : 15px
        }

        80% {
            width : 10px;
            height: 10px;
            bottom: 20px
        }

        100% {
            width     : 7px;
            height    : 7px;
            background: #e9d856;
            border    : 0px solid #222;
            bottom    : 13px;

        }
    }

    @keyframes secFadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 0.5;
        }
    }




    footer {
        width          : 350px;
        height         : 80px;
        background     : #ffb510;
        position       : absolute;
        right          : 0;
        bottom         : -80px;
        display        : flex;
        justify-content: center;
        align-items    : center;
        animation      : top 0.8s forwards;
        animation-delay: 4s;

        span {
            display        : flex;
            align-items    : center;
            justify-content: center;
            font-size      : 12px;
            color          : #232323;
            font-family    : 'Poppins';

            i {
                margin-right   : 25px;
                font-size      : 22px;
                color          : #232323;
                animation      : icon 2s forwards;
                animation-delay: 4s;
                opacity        : 0;
            }
        }
    }

    @keyframes top {
        0% {
            opacity: 0;
            bottom : -80px
        }

        100% {
            opacity: 1;
            bottom : 0px
        }
    }

    @keyframes icon {
        0% {
            opacity  : 0;
            transform: scale(0.0);
        }

        50% {
            opacity  : 1;
            transform: scale(1.3) rotate(-02deg);
        }

        100% {
            opacity: 1;
            bottom : 0px;
        }
    }

}

.text-animation-3 {
    margin-top: 300px;

    * {
        position  : relative;
        box-sizing: border-box;
    }

    .iframely-embed {
        position  : fixed;
        top       : 0;
        left      : 0;
        width     : 100%;
        height    : 100%;
        z-index   : 50;
        background: white;
    }



    #app {
        // opacity: 0 !important;
        // visibility: hidden;
        z-index: 100;

        // &:hover {
        //     opacity: 0.5;
        // }
    }

    #app {
        display              : grid;
        grid-template-columns: 1fr 2fr;
        align-items          : center;
        padding-bottom       : 4vmin;
        height               : 120vh;
        width                : 100%;
        background           : #ede8e2;
        color                : #3a3535;
    }

    body {
        display   : grid;
        padding   : 3vmin;
        background: #e6ded7;
    }

    @import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

    .title {
        padding-left: 1em;
        grid-column : 1 / -1;
        grid-row    : 1;

        font-family: "Prata", serif;
        font-size  : 8vw;
        width      : 100%;
        z-index    : 2;

        // start

        >.title-inner {
            display: inline-block;
        }
    }

    @keyframes text-clip {
        from {
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
        }

        to {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }

    @keyframes outer-left {
        from {
            transform: translateX(50%);
        }

        to {
            transform: none;
        }
    }

    @keyframes inner-left {
        from {
            transform: translateX(-50%);
        }

        to {
            transform: none;
        }
    }

    .cafe,
    .mozart {
        animation : outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
        // outline: 1px solid red;
    }

    // [class*='inner'] {
    //   outline: 1px solid blue;
    // }

    .title-inner {
        display  : inline-block;
        animation: inner-left 1s 1s ease both;
    }

    .cafe-inner {
        display: inline-block;
        animation: inner-left 1s 1s ease both,
            text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
    }

    .mozart-inner {
        animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
    }

    .title {
        animation: outer-left 1s 1s ease both;
    }

    .cafe {

        // start
        >.cafe-inner {
            display: inline-block;
        }
    }

    .mozart {
        display: inline-block;
    }

    .image {
        grid-row      : 1;
        grid-column   : 2;
        margin-left   : -2rem;
        // opacity    : 0.7;

        animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;

        @keyframes image-in {
            from {
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            }

            to {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }

        img {
            display: block;
            width  : 100%;
            height : 100%;
        }
    }

    // Replay animation!
    body:active * {
        animation: none !important;
    }


}

.text-animation-4 {
    margin-top   : 300px;
    margin-bottom: 100px;

    .rotatingText {
        align-items: center;
        display    : flex;
        height     : 100vh;
        text-align : center;
    }

    .rotatingText-content {
        position: relative;
        width   : 100%;
    }

    .rotatingText-description {
        font-family: 'Georgia', serif;
        font-style : italic;
        font-size  : 14px;
        margin     : 0;

        @media (min-width: 768px) {
            font-size: 18px;
        }
    }

    .rotatingText-adjective {
        font-family   : 'Open Sans', sans-serif;
        font-size     : 40px;
        left          : 0;
        margin-bottom : 0;
        margin-top    : 30px;
        opacity       : 0;
        position      : absolute;
        right         : 0;
        text-align    : center;
        text-transform: uppercase;
        top           : 0;

        @media (min-width: 768px) {
            font-size: 70px;
        }

        &:nth-of-type(1) {
            animation: rotate-text-up 1.5s .75s;
        }

        &:nth-of-type(2) {
            animation: rotate-text-up 1.5s 2s;
        }

        &:nth-of-type(3) {
            animation: fade-text-in 1.5s 3.25s forwards;
        }
    }

    // Animations
    @keyframes rotate-text-up {
        0% {
            transform: translate3d(0, 80px, 0);
            opacity  : 0;
        }

        20%,
        80% {
            transform: translate3d(0, 0, 0);
            opacity  : 1;
        }

        100% {
            transform: translate3d(0, -40px, 0);
            opacity  : 0;
        }
    }

    @keyframes fade-text-in {
        0% {
            opacity  : 0;
            transform: translate3d(0, 80px, 0);
        }

        50%,
        100% {
            opacity  : 1;
            transform: translate3d(0, 0, 0);
        }
    }


    //
    // Demo Styles
    // -----------

    .twitter {
        bottom  : 0;
        position: fixed;
        right   : 0;
        width   : 50px;
    }

}