.homepage-container {
    .homepage-content {
        .button-group {
            display       : flex;
            flex-direction: row;
            gap           : 5px;

        }

        .homepage-title {
            margin-left : auto;
            margin-right: auto;
            width       : fit-content;

            .table-icon {
                font-size   : 80%;
                margin-right: 10px;
            }

            font-size  : 200%;
            font-weight: 600;
        }
    }
}

.react-responsive-modal-modal {
    padding: 0 !important;
}