.homepage-container {
    .homepage-content {
        .button-group {
            display       : flex;
            flex-direction: row;
            gap           : 5px;

        }

        .homepage-title {
            font-size  : 200%;
            font-weight: 600;
        }
    }
}

.react-responsive-modal-modal {
    padding: 0 !important;
}