.green {
    border: 1px solid green;
}

.black {
    border: 1px solid black;
}

.red {
    border: 1px solid red;
}

.register {
    background-color: #42b72a !important;
}


.login-container {

    .content-left {
        padding-top: 20%;

        .left-up {
            font-size  : 250%;
            font-weight: 600;
            text-align : center;
        }

        .left-down {
            font-size : 150%;
            text-align: center;
        }
    }

    .content-right {
        height: 650px;

        .login-form {
            margin-top   : 50%;
            padding      : 20px;
            height       : 300px;
            box-shadow   : rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 20px;

            .form-content {
                height        : 100%;
                display       : flex;
                flex-direction: column;
                gap           : 10px;
            }
        }
    }
}